services:
  - type: web
    name: annour-backend
    plan: free
    region: frankfurt
    env: docker
    branch: main
    autoDeploy: true

    envVars:
      - key: DATABASE_URL
        sync: false
      - key: API_V1_STR
        value: /api/v1
      - key: PROJECT_NAME
        value: Inscription System An-Nour
      - key: MEDIA_DIR
        value: media
      - key: PYTHON_VERSION
        value: 3.11.9

    healthCheckPath: /health
